@import 'variables';
// @import 'fonts';

// Select2
// @import "libs/select2.min";

// Editor
// @import "libs/froala/codemirror.min.css";
// @import "libs/froala/froala_editor.pkgd.min";
// @import "libs/froala/froala_style.min";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Google Sans", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  overflow-x: hidden;
  line-height: normal;
  letter-spacing: 0.025rem;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

.no-scroll {
  overflow: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1200px;
  .wrapper {
    width: 100%;
  }
}

.breadcrumb {
  border-radius: 0;
}

a:not([href]):not([tabindex]).link {
  color: #007bff;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

table {
  .truncate {
    width: 400px;
    -webkit-line-clamp: 1;
  }
}

.table {
  &.croped {
    th, td {
      padding: 0.5rem;
      font-size: 0.875rem;
      vertical-align: middle;
      a {
        color: $black;
        font-size: 0.875rem;
        text-decoration: none;
        padding: 0.15rem 0.25rem;
      }
      span {
        color: $black-6nd;
      }
    }
    thead {
      th, td {
        border-top: none;
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: $silver;
        }
      }
    }
  }
}

.custom-checkbox {
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
}

// Form
.form-group {
  .form-control {
    height: unset;
    padding: .75rem .75rem;
    font-size: .875rem;
    outline: none;
    color: $black;
    @include placeholder {
      color: $black;
      font-weight: 300;
    }
    &:focus, &:active, &:hover {
      box-shadow: 0 0 0 0.2rem rgba(252, 109, 29, 0.33);
      border-color: rgba(252, 109, 29, 0.33);
    }
    &.disabled {
      &:focus, &:active, &:hover {
        box-shadow: unset;
        border-color: #ced4da;
      }
    }
    &.outline {
      border-color: $light;
    }
  }
  &.custom {
    width: calc((100% - (100% / 3)) + 30px);
    &.haft {
      width: calc(50% - (50% / 3));
      margin: 0 30px 1rem 0;
      float: left;
    }
  }
  small {
    a {
      font-size: inherit;
    }
  }
}

.form-inline {
  .form-control {
    border-radius: 0.25rem 0 0 0.25rem;
  }
  .btn {
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select.form-control,
select.form-control:not([size]):not([multiple]) {
  height: 47px;
}

textarea {
  resize: none;
}

.custom-file {
  &-input {
    height: 47px;
    display: none;
    visibility: hidden;
  }
  &-label {
    width: 100%;
    height: unset;
    display: block;
    padding: .75rem .75rem;
    font-size: .875rem;
    outline: none;
    color: #333333;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus, &:active, &:hover {
      box-shadow: 0 0 0 0.2rem rgba(252, 109, 29, 0.33);
      border-color: rgba(252, 109, 29, 0.33);
    }
    &:after {
      height: unset;
      padding: .75rem .75rem;
    }
  }
}

.input-group {
  &.customize {
    height: 47px;
  }
}

// Typography
a, p, span, h1, h2, h3, h4, h5, h6 {
  &.primary {
    color: var(--main-color);
  }
  &.blue {
    color: $blue;
  }
  &.blue-nd {
    color: $blue-nd;
  }
  &.black {
    color: $black;
  }
  &.black-5nd {
    color: $black-5nd;
  }
}

a, p {
  font-size: 1rem;
}

.text-muted {
  &.notice {
    color: var(--main-color) !important;
  }
}

// Button
.btn,
a.btn {
  padding: .75rem 1rem;
  font-size: .875rem;
  font-weight: 700;
  box-shadow: none;
  outline: none;
  &.dark {
    color: $light;
    background-color: $dark;
  }
  &.black {
    color: $light;
    background-color: $black;
    &-nd {
      background-color: $black-nd;
    }
    &-3nd {
      background-color: $black-3nd;
    }
    &-4nd {
      background-color: $black-4nd;
    }
    &-5nd {
      background-color: $black-5nd;
      &.outline {
        color: $black-5nd;
        background-color: transparent;
        border: 2px solid $black-5nd;
      }
    }
  }
  &.gray {
    color: $dark;
    background-color: $gray;
    &.outline {
      color: $gray;
      background-color: transparent;
      border: 2px solid $gray;
    }
  }
  &.silver {
    color: $dark;
    background-color: $silver;
  }
  &.light {
    color: $dark;
    background-color: $light;
  }
  &.dark, &.black, &.gray, &.silver, &.light {
    &:focus, &:active, &:hover,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.15);
    }
  }
  &.primary {
    color: $light;
    background-color: var(--main-color);
    &:focus, &:active, &:hover,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(252, 109, 29, 0.33);
    }
    &.outline {
      color: var(--main-color);
      background-color: transparent;
      border: 2px solid var(--main-color);
    }
  }
  &.warning {
    color: $light;
    background-color: #dc3545;
    &:focus, &:active, &:hover,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(252, 109, 29, 0.33);
    }
    &.outline {
      color: #dc3545;
      background-color: transparent;
      border: 2px solid #dc3545;
    }
  }
  &.dark {
    color: $light;
    background-color: $dark;
    &.outline {
      color: $dark;
      background-color: transparent;
      border: 2px solid $dark;
    }
  }
  &.facebook {
    color: $blue-nd;
    border: 2px solid $blue-nd;
  }
  &-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
}

.alert {
  word-break: break-all;
  a {
    color: inherit;
  }
  &-notice,
  &-alert {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
}

.page-item {
  .page-link {
    color: var(--main-color);
  }
  &.active {
    .page-link {
      background-color: var(--main-color);
      border-color: var(--main-color);
    }
  }
}

.form-group {
  .credit-format-card {
    position: relative;
    span {
      width: 37px;
      height: 37px;
      position: absolute;
      right: 5px;
      top: 5px;
      
    }

    .credit-format.cc_type_vs + span {
      background: image-url('vs') no-repeat center;
      background-size: contain;
    }

    .credit-format.cc_type_mc + span {
      background: image-url('mc') no-repeat center;
      background-size: contain;
    }

    .credit-format.cc_type_jc + span {
      background: image-url('jc') no-repeat center;
      background-size: contain;
    }

    .credit-format.cc_type_ax+ span {
      background: image-url('ax') no-repeat center;
      background-size: contain;
    }

    .credit-format.cc_type_unknown + span {
      background-color: transparent;
    }
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 4px;
    border: 4px solid var(--main-color);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--main-color) transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  &:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: $light;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

input {
  &:checked + .slider {
    background-color: var(--main-color);
  }
  &:focus + .slider {
    box-shadow: 0 0 1px $gray;
  }
  &:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
}

.switch-group {
  .switch {
    float: left;
    margin-bottom: 0;
  }
  &-label {
    float: left;
    margin-bottom: 0;
    font-size: 0.875rem;
    margin-left: 0.5rem;
  }
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}

@keyframes selected { 
  0% {
    transform: scale(0.5);
    opacity: 0.25;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}