<div class="portal__main-left">
	<div class="panel">
		<div class="panel__heading">
			panel.heading
		</div>
		<div class="panel__list">
			<a href="<%= delivery_url %>">Delivery</a>
		</div>
	</div>
</div>
<div class="portal__main-center primary">
	<div class="dashboard">
		<div class="dashboard__heading">
			<div class="dashboard__heading-action-list">
				<div class="dashboard__heading-action-item">
					<div class="btn btn-sm ml-2" onclick="window.location = '<%= delivery_url %>/create'">
						<span class="add_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="20.1" height="20" viewBox="0 0 20.1 20"><path d="M521.4,422.6v14h14v2h-14a2.051,2.051,0,0,1-2-2v-14Zm16.1-4a2.051,2.051,0,0,1,2,2v12a2.051,2.051,0,0,1-2,2h-12a2.051,2.051,0,0,1-2-2v-12a2.051,2.051,0,0,1,2-2Zm-1.1,9v-2h-4v-4h-2v4h-4v2h4v4h2v-4Z" transform="translate(-519.4 -418.6)"/></svg>
						</span>
						<span>Add Service</span>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard__container">
			<div class="dashboard__container-message">
				dashboard.container.message
			</div>
			<div class="dashboard__container-card clearfix">
				<div class="dashboard__container-card-col-4">
					<div class="dashboard__container-card-item info">
						dashboard.card.info
					</div>
					<div class="dashboard__container-card-item billing">
						dashboard.card.billing
					</div>
				</div>
				<div class="dashboard__container-card-col-8">
					<div class="dashboard__container-card-item trending">
						dashboard.card.trending
					</div>
				</div>
			</div>
		</div>
	</div>
</div>