<div class="portal__main-left">
	<div class="panel">
		<div class="panel__heading">
			panel.heading
		</div>
		<div class="panel__list">
			panel.list
		</div>
	</div>
</div>
<div class="portal__main-center primary">
	<div class="dashboard">
		<div class="dashboard__heading">
			dashboard.heading
		</div>
		<div class="dashboard__container">
			<div class="dashboard__container-message">
				dashboard.container.message
			</div>
			<div class="dashboard__container-card clearfix">
				<div class="dashboard__container-card-col-4">
					<div class="dashboard__container-card-item info">
						dashboard.card.info
					</div>
					<div class="dashboard__container-card-item billing">
						dashboard.card.billing
					</div>
				</div>
				<div class="dashboard__container-card-col-8">
					<div class="dashboard__container-card-item trending">
						dashboard.card.trending
					</div>
				</div>
			</div>
		</div>
	</div>
</div>