		<table bgcolor="#f8f9fa" width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="width:600px;max-width:600px;margin:0 auto;background-color:#f8f9fa;border-collapse:collapse">
      <tbody>
        <tr>
          <td style="font-family:Google Sans,Roboto,Arial;font-size:0.875rem;color:#888888;font-weight:normal;letter-spacing:0.75px;padding:2rem">
            <p>This email was sent to <%= @email %> because you indicated that you’d like to receive updates and tips about your <%= @company %> account.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>