<body style="margin:0">
  <div style="background-color:#f8f9fa;font-weight:normal">
    <table bgcolor="#f8f9fa" width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="width:600px;max-width:600px;margin:0 auto;background-color:#f8f9fa;border-collapse:collapse">
      <tbody>
        <tr>
          <td style="padding:2rem">
            <img src="http://<%= @host %>/assets/logo_dark.png" width="150px" height="auto">
          </td>
          <td style="text-align:right;font-family:Google Sans,Roboto,Arial;padding:2rem">
            <a href="http://<%= @host %>" style="font-size:16px;line-height:20px;letter-spacing:0.75px;color:#1a73e8;font-weight:500;text-decoration:none">
              Go to your Portal 
              <img src="http://<%= @host %>/assets/forward_ic.png" width="15px" height="15px">
            </a>
          </td>
        </tr>
      </tbody>
    </table>