<%= form_tag account_charges_test_path do %>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>

  <script src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="You need to verify payment"
    data-locale="auto"
    data-label="Verify Payment"
    data-panel-label="Verify"
    data-currency="vnd">
  </script>
<% end %>