// Bootstrap
@import 'bootstrap';

// Framework
@import 'framework/variables';
@import 'framework/global';

@import 'layouts/portal';

:root {
  --app-height: 100%;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: $primary;
}

.back_ic {
	font-size: 1rem;
  display: -webkit-flex;
  align-items: center;
	&:before {
		content: "";
		width: 20px;
		height: 20px;
		margin-right: 0.25rem;
		display: inline-block;
		background: url('back_ic.svg') no-repeat center;
	}
}