// Bootstrap
@import 'bootstrap';

// Framework
@import 'framework/variables';
@import 'framework/global';

@import 'layouts/portal';

:root {
  --app-height: 100%;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: $primary;
}

.close_ic {
	svg {
		path {
			fill: $black-nd;
		}
	}
}