<body style="margin:0">
  <div style="background-color:#f8f9fa;font-weight:normal">
    <table bgcolor="#f8f9fa" width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="width:600px;max-width:600px;margin:0 auto;background-color:#f8f9fa;border-collapse:collapse">
      <tbody>
        <tr>
          <td style="padding:2rem">
            <img src="http://id.demo.vncdn.vn/assets/logo_dark.png" width="150px" height="auto">
          </td>
          <td style="text-align:right;font-family:Google Sans,Roboto,Arial;padding:2rem">
            <a href="http://id.demo.vncdn.vn" style="font-size:16px;line-height:20px;letter-spacing:0.75px;color:#1a73e8;font-weight:500;text-decoration:none">
              Go to your Portal 
              <img src="http://id.demo.vncdn.vn/assets/forward_ic.png" width="15px" height="15px">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <table bgcolor="#ffffff" width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="width:600px;max-width:600px;margin:0 auto;background-color:#ffffff;border-collapse:collapse;border-radius: 6px">
		  <tbody>
		    <tr>
		      <td style="font-family:Google Sans,Roboto,Arial;font-size:1rem;letter-spacing:0.75px;padding:2rem">
		        <h1 style="font-size:1.75rem;margin-top:0;margin-bottom:1rem"><b>Email Confirmation</b></h1>
		        <h3 style="font-size:1rem"><b>Welcome to VNCDN</b></h3>
		        <p>Firstly, You need to confirm your account email through the link below:</p>
		        <p style="margin-bottom:0.5rem"><%= link_to 'Confirm My Account', confirmation_url(@resource, confirmation_token: @token), {:style => 'color:#fff;background-color:#f68100;padding: 12px 16px;font-size:14px;font-weight:700;box-shadow:none;outline:none;display:inline-block;text-align:center;vertical-align:middle;border: 1px solid transparent;line-height:1.5;border-radius:0.25rem;text-decoration:none'} %></p>
		      </td>
		    </tr>
		  </tbody>
		</table>
   	<table bgcolor="#f8f9fa" width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="width:600px;max-width:600px;margin:0 auto;background-color:#f8f9fa;border-collapse:collapse">
      <tbody>
        <tr>
          <td style="font-family:Google Sans,Roboto,Arial;font-size:0.875rem;color:#888888;font-weight:normal;letter-spacing:0.75px;padding:2rem">
            <p>This email was sent to <%= @email %> because you indicated that you’d like to receive updates and tips about your VNCDN account.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>